<%-include('./partials/header') -%>
<% var avatar=avatar; %>
<%-include('./partials/navbar') -%>

<%-include('./partials/messages')-%>
<h1>Home</h1>
<div class="container">
<img src="<%= avatar%>" height="250" width="250" class="rounded-circle img-responsive img-portfolio img-hover">
<p><strong><%= username %></strong></p>
<p><%= email %></p>
</div>
<%-include('./partials/footer') -%>